<ion-header>
  <ion-navbar>
    <ion-title>My Requests</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
    <button ion-button full (click)="newRequest()">New Request</button>
  <h2>Submitted not seen</h2>
  
    <ion-card *ngFor = "let submittedRequest of submitted">
        <ion-card-header>{{submittedRequest.category}}</ion-card-header>
        <
    </ion-card>
        
        
        <ion-card>
          <ion-card-header color="submitted">
            Submitted not yet seen
          </ion-card-header>

          <ion-list>
            <button ion-item  *ngFor = "let submittedRequest of submitted"  (click)="viewRequestWithID(submittedRequest.category + '_0_' + submittedRequest.location + '_0_' + submittedRequest.problem)">
                <ion-icon color="submitted" name="more" item-start></ion-icon>
              <h2>{{submittedRequest.problem.replace(/_/g,' ')}}</h2>
                <h3>{{submittedRequest.category.replace(/_/g, ' ')}}</h3>
            </button>


          </ion-list>
        </ion-card>
    
</ion-content>
