page-viewRequest {
    
    .header {
    
    font-size: 1.6em;
    //width: 100%;
    font-weight: bold;
        text-align: center;
  }
    
    .labelText
    {
        font-size: 0.7em;
        //width: 100%;
        font-weight: normal;
    }
    
    .settingText
    {
            font-size: 1.1em;
            //width: 100%;
            font-weight: bold;
    }
}
